/* mnsearch.css */

body {
    margin: 0;
    font-family: Verdana;
    font-size: 13px;
}

#topbar {
    position: absolute 0 0;
    background: #4000B0;
    padding: 10px;
    color: white;
    overflow: auto;
}

#topbar a {
    text-decoration: none;
    font-weight: bold;
    color: #C0C0C0;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#topbar a:hover {
    background: black;
}

.topbarleft {
    float: left;
}

.topbarright {
    float: right;
}

#main {
    padding: 20px;
}

#imagediv {
    margin-top: 20px;
    padding: 20px;
}

#results {
}

.center {
    text-align: center;
}

.searchbox {
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

table#advanced_panel {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

table#advanced_panel tr td {
    //background: yellow;
    vertical-align: top;
}

tr#adv_p_name td {
    padding-bottom: 10px;
}

tr#adv_p_submit td {
    padding-top: 15px;
}

tr#adv_p_name input {
    width: 100%; 
}

#doc-main {
    width: 70%;
    margin-left: 15%;
}

pre {
    color: #4000B0;
    margin-left: 20px;
    padding: 10px;
    background: #F0F0F0;
    border-left: 1px solid black;
}
