{% extends "base.html" %}
    
{% block main %}

<div class="center">

<div id="imagediv">
    <img src="/site_images/magination-logo.jpg">
</div>

<p>
    <form action="/advanced_search" method="post">
        <table id="advanced_panel">
            <tr id="adv_p_name">
                <td >
                    Name contains:
                </td>
                <td colspan="2">
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td id="panel_regions">
                    {% for region in const.regions.items %}
                    <input type="checkbox" name="region" 
                     value="{{region.0}}"> {{region.1}}<br/>
                    {% endfor %}
                </td>

                <td id="panel_sets">
                    {% for s in const.sets.items %}
                    <input type="checkbox" name="set" 
                     value="{{s.0}}"> {{s.1}}<br/>
                    {% endfor %}
                </td>
                
                <td>
                    {% for type in const.types.items %}
                    <input type="checkbox" name="type"
                     value="{{type.0}}"> {{type.1}}<br/>
                    {% endfor %}
                </td>
        
                <td>
                    {% for r in const.rarities.items %}
                    <input type="checkbox" name="rarity"
                     value="{{r.0}}"> {{r.1}}<br/>
                    {% endfor %}
                </td>
                
            </tr>
            
            <tr id="adv_p_submit">
                <td colspan="3">
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>
</p>

</div>

<!--<p>Currently in database: {{dbsize}} cards ^_^</p>-->
    
{% endblock %}
