<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" 
              href="/stylesheets/mnsearch.css" />
        <title>Magi-Nation Search</title>
    </head>
    <body>
        <div id="topbar">
            <div class="topbarleft">
                Magi-Nation search&nbsp;&nbsp;&nbsp;
                <a href="/" title="find text anywhere on a card">simple</a>
                <a href="/advanced" title="choose from a number of options">advanced</a>
                <a href="/expert" title="match against a Python expression">expert</a>
                [version {{version}} -- under construction]
            </div>
            <div class="topbarright">
                <a href="/doc/help">help</a>
                <a href="/doc/credits">credits</a>
            </div>
        </div>
        <div id="main">
            {% block main %}{% endblock %}
        </div>
    </body>
</html>
