{% extends "base.html" %}
    
{% block main %}

<div class="center">
<!--<h1>Magi-Nation search (expert)</h1>-->

<div id="imagediv">
    <img src="/site_images/magination-logo.jpg">
</div>

<p>Enter a Python expression in the box below.</p>

<form action="/expert_search" method="post">
    <div>
        <textarea name="query" rows="10" cols="60"></textarea>
    </div>
    <div style="margin-top: 5px;"><input type="submit" value="Search"></div>
</form>

<!--<p>Currently in database: {{dbsize}} cards ^_^</p>-->
</div>

{% endblock %}