{% extends "base.html" %}
    
{% block main %}

<div class="center">
<!-- <h1>Magi-Nation search</h1> -->

<div id="imagediv">
    <img src="/site_images/magination-logo.jpg">
</div>

<form action="/search" method="post">
    <div>
        <input class="searchbox" name="query" type="text" value="">
        <input type="submit" value="Search">
    </div>
</form>

</div>

<!--<p>Currently in database: {{dbsize}} cards ^_^</p>-->
    
{% endblock %}
