{% extends "base.html" %}

{% block main %}    
<p>Search results for: <em>{{query}}</em><br/> 
</p>

<p>Found {{num_cards}} card(s)</p>

<table id="results">
    <thead>
        <tr>
            <td>Card name</td>
            <td>Region</td>
            <td>Set</td>
            <td>Type</td>
            <td>Cost / Starting energy</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        <tr>
            <td>{{ card|cardname_with_link|safe }}</td>
            <td>{{ card.region|foobar }}</td>
            <td>{{ card.set_long }}</td>
            <td>{{ card.type }}</td>
            <td>{{ card.cost }}</td>
            <td>{{ card|released }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

